.nav {
  display: flex;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__item {
    display: inline-block;
    width: fit-content;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      left: 0;
      bottom: -4px;
      background-color: #292929;
      transform-origin: bottom right;
      transition: transform 0.3s;
    }

    &:hover:after {
      transform: scale(1);
      transform-origin: bottom left;
      color: red;
    }
  }

  &__link {
  }
}
